# Dependency directories
node_modules/

# Compiled files
/dist
/build

# Coverage directory used by tools like istanbul
/coverage

# Environment variables
.env

# Logs
/logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm files
.npm
.eslintcache
.yarn-integrity

# Output of 'npm pack'
*.tgz

# IDE and editor files
/.idea
*.swp
*.swo
*.sublime*
.vscode/

# OS-specific files
.DS_Store

# Miscellaneous
.node_repl_history
.grunt
lib-cov

# Add any additional files/directories specific to your project
# e.g., temp files, local configuration files, etc.

